<app-header></app-header>
<app-instructions></app-instructions>

<div *ngIf="img.width > 0"> 
	<p>Your image is {{img.width}} pixels wide and {{img.height}} pixels high. 
		<span *ngIf="img.width > 1000 || img.height > 1000">
			We've scaled it down in the display below, but you will be able to download the full resolution image at the end.  
		</span>
		You can use the slider to set your dice dimensions.  Bigger number = bigger dice.
	</p>

	<div class="slidecontainer">
		<label>Dice Dimensions (Current Value: {{diceDim}} pixels wide/high): 
			<input type="range" min="10" max="{{minDim/20}}" value="10" class="slider" (input)="updateValue($event)">
		</label>
		<button *ngIf='!submitted' class='btn btn-success' (click)='handleSubmit()'>Dice-ify!</button>
		<mat-spinner *ngIf='submitted'></mat-spinner>
		<span id="dimsDisplay"></span>
	</div>

</div>

<canvas id="canvas" width="1000" height="1000"></canvas>
