<app-header></app-header>

<div class='output'>

  <div class='img-container'>
    <img id='d1' src='assets/di1.png'>
    <img id='d2' src='assets/di2.png'>
    <img id='d3' src='assets/di3.png'>
    <img id='d4' src='assets/di4.png'>
    <img id='d5' src='assets/di5.png'>
    <img id='d6' src='assets/di6.png'>
    <img id='d7' src='assets/bdi6.png'>
    <img id='d8' src='assets/bdi5.png'>
    <img id='d9' src='assets/bdi4.png'>
    <img id='d10' src='assets/bdi3.png'>
    <img id='d11' src='assets/bdi2.png'>
    <img id='d12' src='assets/bdi1.png'>
  </div>

  <canvas *ngIf='imageData' id='ogImg' width={{imageData.fWidth}} height={{imageData.fHeight}}>

  </canvas>

  <div class='buttons'>
    <mat-spinner *ngIf='!ready'></mat-spinner>
    <button *ngIf='ready' class='btn btn-primary' (click)='downloadImage()'>Download</button>
    <p *ngIf='imgScaled' class='scaled-note'>
      Note: The preview you see below is distorted because it was scaled to fit on your screen.
      Click 'Download' to see the full resolution image!  
    </p>
  </div>

  <!-- Canvas with the 'actual image' -->
  <canvas *ngIf='imageData' id='diceImg' width={{imageData.fWidth}} height={{imageData.fHeight}}>

  </canvas>

  <canvas *ngIf='imageData' id='scaledImg' width={{imageData.sWidth}} height={{imageData.sHeight}}>

  </canvas>

</div> 