<h1 class="welcome">Welcome to the dice picture generator!</h1>
<p>Do you want a portrait made out of dice but are too lazy to actually make it?  Then we have the solution for you.</p>

<h3>Instructions</h3>
<div class="instructions">
	<p>Step 1: Upload the picture you want "dicified".</p>
	<p>Step 2: Configure the options to determine how you want your picture dicified.</p>
	<p>Step 3: See what happens, and tweek the picture and settings until it's perfect!</p>
</div>

<h3>Pro tips discovered through a lot of trial and error</h3>
<ul>
  <li>
    High resolution images work better and give you more options.  Try to use an image
    with dimensions of at least 500 pixels by 500 pixels.
  </li>
  <li>The subject should take up the majority of the image (i.e. small backgrounds are best).</li>
  <li>For portraits, blank backgrounds work best.</li>
</ul>
